{{ partial "header" . }}

<main>

    <div class="intro">

        <p><img src="img/kshlogo.jpg" height="130px" alt=""></p>

        <h1>{{ .Site.Title }}</h1>

        <h2>{{ markdownify .Site.Params.Description }}</h2>



    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">            
            <a class="nextSessionLink" href="http://www.evand.ir/kshlug">ثبت نام جلسه آینده لاگ</a><br>
            <img src="img/next_session.jpg" width="400px">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h5><a href="https://www.openstreetmap.org/#map=19/34.30491/47.06197"> {{ markdownify .Site.Params.Address }}</a></h5>
            <iframe width="400" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=47.05973535776138%2C34.30391569444652%2C47.06421464681626%2C34.305880966296016&amp;layer=mapnik&amp;marker=34.30489722830078%2C47.06197500228882" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=34.30490&amp;mlon=47.06198#map=19/34.30490/47.06198">View Larger Map</a></small>
    </div>
</main>

{{ partial "footer" . }}
